body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: 15px;
    color: white;
}
.logoDiv{
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-bar input {
    padding: 8px;
    width: 200px;
}
.profile-menu {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #003f83;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    right: 0;
    min-width: 120px;
}
.dropdown-content button {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.profile-menu:hover .dropdown-content {
    display: block;
}
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
}
.details-card {
    display: none;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}
.add-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
.search-results {
    display: none;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.patInfoBtn{
    
    margin-top: 20px;
}

.patInfoBtn .editBtn{
    width: 70px;
    height: 40px;
    background: green;
    border: none;
    cursor: pointer;
    color: white;
}

.patInfoBtn .closeBtn{
    width: 70px;
    height: 40px;
    background: red;
    border: none;
    cursor: pointer;
    color: white;
}

